* {

    margin: 0;
    padding: 0;

}

nav > ul{

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    background-color: beige;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px 

}

a {

    text-decoration: none;

}

nav > ul > li > a{

    color: black;
    

}

nav > ul > li:hover > a{

    color: blueviolet;

}

.search > form > input[type = "search"]{

    width: 200px;
    border-radius: 23px;
    background-color: rgb(168, 168, 41);
    padding: 5px;

}